name: Publish Package to github npm registry
on:
    release:
        types: [published]
jobs:
    publish:
        name: Publish Package
        permissions:
            contents: read
            packages: write
        runs-on: ubuntu-latest
        steps:
        - name: Checkout Repository
          uses: actions/checkout@v4

        - name: Setup NodeJS Version
          uses: actions/setup-node@v3
          with:
            node-version: 18
            registry-url: https://npm.pkg.github.com/

        - name: Install Dependencies
          run: npm install

        - name: Publish Package
          run: npm publish
          env:
            NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
         