name: Solar System Workflow

on: 
  workflow_dispatch:
  push:
    branches:
      - main
      - 'feature/*'

env:
    MONGO_URI: mongodb+srv://${{ vars.MONGO_USERNAME }}:${{ secrets.MONGO_PASSWORD }}@supercluster.d83jj.mongodb.net/superData?retryWrites=true&w=majority
    MONGO_USERNAME: ${{ vars.MONGO_USERNAME }}
    MONGO_PASSWORD: ${{ secrets.MONGO_PASSWORD }}
    

  
jobs:
    unit-testing:
        name: Unit Testing
        strategy:
          matrix:
            nodejsversion: [18,20]
            operating-system: [ubuntu-latest, macos-latest]
            exclude:
              - nodejsversion: 18
                operating-system: macos-latest
        runs-on: ${{ matrix.operating-system }}
        steps:
        - name: Checkout Repository
          uses: actions/checkout@v4

        - name: Setup NodeJS Version
          uses: actions/setup-node@v3
          with:
            node-version: ${{ matrix.nodejsversion }}
    
        - name: Install Dependencies
          run: npm install
    
        - name: Unit Testing
          id: nodejs-unit-testing-step
          run: npm test
          
        - name: Archive Test Result
          if: always()
          uses: actions/upload-artifact@v6
          with:
            name: Mocha-Test-Result-${{ matrix.nodejsversion }}-${{ matrix.operating-system }}
            path: test-results.xml
            retention-days: 1
    code-coverage:
      name: Code Coverage
      needs: unit-testing
      runs-on: ubuntu-latest
      continue-on-error: true
      steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup NodeJS Version
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Run Code Coverage
        run: npm run coverage
        continue-on-error: true

      - name: Upload Code Coverage Report
        uses: actions/upload-artifact@v6
        with:
          name: Code-Coverage-Result
          path: coverage
          retention-days: 1